
    <div class="bg-secondaryy c">
        <div class="d">
<h4 class="mt-3 ml-3 text-light p0"><i><b>Welcome to ShoppingBee!</b></i></h4>

<button type="button" class="btn btn-secondary btn-text-light ml-auto b" (click)="log()"><i class="fa fa-plus-square" style="font-size:22px"></i>&nbsp;&nbsp;Login</button>
<button type="button" class="btn btn-secondary text-light p" routerLink="/signup">SignUp</button>
</div>
</div>




  <nav class="navbar navbar-expand-sm k">
      <ul class="navbar-nav">
          <li class="nav-item" style="margin-left:400px;">
              <button class="btn btn-bg-light btn-block nav-link j " routerLink="/home" ><i class="fa fa-home" style="font-size:23px"></i>&nbsp;&nbsp;Home</button>
          </li>
         <!----<li class="nav-item">
                <a class="nav-link j"><i class="fa fa-television" style="font-size:23px"></i>&nbsp;&nbsp;Electronics</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link j" (click)="showCategory('Clothing')"><i class="fa fa-yelp" style="font-size:23px"></i>&nbsp;&nbsp;Clothing</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link j" (click)="showCategory('Sports')"><i class="fa fa-soccer-ball-o" style="font-size:23px"></i>&nbsp;&nbsp;Sports</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link j" (click)="showCategory('Books')"><i class="fa fa-book" style="font-size:23px"></i>&nbsp;&nbsp;Books</a>
                        </li>-->
      </ul>
  </nav>
 
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="500">
      <img src="https://giebiz.com/uploads/women_clothes_online_banner_img.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="1000">
      <img src="https://i.pinimg.com/originals/e8/7b/4c/e87b4c59ebdf8bb06b867b23ea906c20.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="500">
      <img src="http://dslv9ilpbe7p1.cloudfront.net/-QJ0AWKW8jwncj2CmUnMPQ_store_banner_image.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="lo">
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md">
        <img class="lki" src="https://s3-us-west-2.amazonaws.com/paytm-travel/Marketing/YESFLY_T%26C-Page_yesbank.jpg" >
      </div>
    </div>
    <div class="col-md-5">
      <div class="col-md-1">
        <img class="lki" src="https://d157777v0iph40.cloudfront.net/unified2.0/images/advertisement/2sboffernewjune19.jpg">
      </div>
        
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-1">
        <img class="lki" src="https://assets.indiadesire.com/images/flipkart%20hdfc%20bank%20cards%20offer.jpg">
      </div>
    </div>
    <div class="col-md-5">
      <div class="col-md-1">
        <img class="lki" src="http://qatar.dohabank.in/wp-content/uploads/sites/12/WiniPhone-PR20181107-En-1024x576.jpg">
      </div>
    </div>
  </div>
</div>
</div>
<div class="bnb">
 <h1 class="oi"><i> Hurry up! Pick Up Your Favourite Brands!</i></h1>
</div>
<div class="container-fluid" style=" background-color:white">
    <div class="row css">
        <div class="col-sm-12">
            <img src="https://logopond.com/logos/c6b0d73c13c9f9a4d2204f1f897836e1.png"style="width:400px; height:150px;">
            <img src="../../assets/images/colors.jpg" style="width:400px; height:150px;">
            <img src="https://i.pinimg.com/originals/13/6c/a8/136ca87edafc0ebb141fc1b2bb93f1ae.jpg"style="width:400px; height:150px;">
            <img src="https://miro.medium.com/max/1161/1*cJUVJJSWPj9WFIJlvf7dKg.jpeg"style="width:400px; height:150px;">
            <img src="../../assets/images/libas.png"style="width:400px; height:150px;">
            <img src="https://d166yc1y344avn.cloudfront.net/outletlogo/only_1489994516.jpg"style="width:400px; height:150px;">
          
        </div>
    </div>
</div>
